/* 
    This style sheet stylizes the controls inside our
    Web Tree JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Author:	Richard McKenna
    Author:	?
    Version:	1.0
*/

/* CSS CLASS FOR PAGE EDITING BUTTONS */
.tag_button {
    -fx-background-color: 
        linear-gradient(#d65bff, #ab48cc),
        linear-gradient(#c47edb, #b35ad1),
        linear-gradient(#9940b7, #77328e),
        linear-gradient(#8839a3 0%, #9940b7 50%, #77328e 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

/* CSS CLASS FOR PANES TO FILL THEIR FULL REGION */
.max_pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color:#8cff8c;
}

/* CSS CLASS FOR OUR BIG PANES */
.bordered_pane {
    -fx-background-color: #66cc66;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #99ff99;
}

/* CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI */
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI */
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI */
.prompt_label {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR TEXT FIELDS AT UI PROMPTS */
.prompt_text_field {
    -fx-font-size: 13pt;
}
